@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
/* In your global.css or Tailwind layer */
.swiper-button-next,
.swiper-button-prev {
  @apply bg-white shadow-lg w-10 h-10 rounded-full flex items-center justify-center text-gray-800 hover:bg-blue-600 hover:text-white transition;
}
/* 
module.exports = {
  theme: {
    extend: {
      keyframes: {
        fadeIn: {
          "0%": { opacity: "0", transform: "translateY(10px)" },
          "100%": { opacity: "1", transform: "translateY(0)" },
        },
      },
      animation: {
        fadeIn: "fadeIn 0.5s ease-out forwards",
      },
    },
  },
  plugins: [],
}; */
